<head>
  <%- include('../styles/perfilStyles'); %>
</head>
<main>
  <section>
    <table>
      <thead>
        <th colspan="2" class="title">Perfil de Entrada</th>
      </thead>
      <tbody>
        <tr>
          <td class="td-perfil-label">Produtor</td>
          <td class="td-content"><%= produtor.nomeProdutor %></td>
        </tr>
        <% perfil.perfilData.forEach(function({label, value}){ %>
        <tr>
          <td class="td-perfil-label"><%= label %></td>
          <td class="td-content"><%= value %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <% const {producaoNatura, producaoIndustrial } = perfil %> <% if(producaoNatura) { %> <%-
  include('dadosProducao', { title: 'Dados de produção in Natura', type:'inNatura',
  tableStyle:'table', grupoProdutos: gruposProdutosNatura, dadosProducao:producaoNatura }) %>
  <br />
  <% } %> <% if(producaoIndustrial) { %> <%- include('dadosProducao', { type:'industrial', title:
  'Dados de produção Industrial', tableStyle:'table avoid-break', grupoProdutos:
  gruposProdutosIndustriais, dadosProducao:producaoIndustrial }) %> <% } %>
  <br />
</main>