<!DOCTYPE html>
<html>
  <head>
    <%- include('../styles/produtoStyles'); %>
  </head>

  <body>
    <table class="productGroupTable">
      <thead>
        <tr>
          <th colspan="5" class="subTitle2 productTableTitle">Grupos de Produtos Produzidos</th>
        </tr>

        <% grupoProdutos.forEach((grupo) => { %>
        <tr>
          <th colspan="5" class="groupTitle"><%= grupo.nm_grupo.toLowerCase() %></th>
        </tr>
        <tr>
          <th class="groupTableHeaders">Nome do Produto</th>
          <th class="groupTableHeaders">Unidade de Medida</th>
          <% if(type === 'inNatura') { %>
          <th class="groupTableHeaders">Área Utilizada (ha)</th>
          <% } %>
          <th class="groupTableHeaders">Produção PNAE do Último Ano</th>
          <th class="groupTableHeaders">Produção Total do Último Ano</th>
        </tr>
      </thead>
      <tbody>
        <% let totalArea = 0, totalPNAE = 0, totalProducao = 0; %> <%
        grupo.at_prf_see_produto.forEach((produto) => { %>
        <tr class="tr-produto">
          <td><%= produto.nm_produto %></td>
          <td><%= produto.sg_und_medida %></td>
          <% if(type === 'inNatura') { %>
          <td><%= produto.area_utilizada %></td>
          <% } %>
          <td><%= produto.producao_aproximada_ultimo_ano_pnae %></td>
          <td><%= produto.producao_aproximada_ultimo_ano_total %></td>
        </tr>
        <% totalArea += produto.area_utilizada; %> <% totalPNAE +=
        Number(produto.producao_aproximada_ultimo_ano_pnae); %> <% totalProducao +=
        Number(produto.producao_aproximada_ultimo_ano_total); %> <% }); %> <% if(totalArea === 0) {
        totalArea = grupo.area_utilizada; } %> <% if(totalPNAE === 0) { totalPNAE =
        Number(grupo.producao_aproximada_ultimo_ano_pnae); } %> <% if(totalProducao === 0) {
        totalProducao = Number(grupo.producao_aproximada_ultimo_ano_total); } %>
        <tr class="tr-produto total">
          <td colspan="2">Total</td>
          <% if(type === 'inNatura') { %>
          <td><%= totalArea %></td>
          <% } %>
          <td><%= totalPNAE %></td>
          <td><%= totalProducao %></td>
        </tr>
      </tbody>
    </table>
    <% }); %>
  </body>
</html>
