<head>
  <%- include('../styles/relatorioStyles'); %>
</head>
<section class="table">
  <table class="relatorioTable avoid-break">
    <thead>
      <th colspan="2" class="title relatorioTable">
        Relatório da Visita Técnica
      </th>
    </thead>
    <tbody>
      <tr>
        <td class="td-label">Agricultor(a) Familiar</td>
        <td class="td-content"><%= produtor.nomeProdutor %></td>
      </tr>
      <tr>
        <td class="td-label">CPF/CNPJ</td>
        <td class="td-content"><%= produtor.cpfProdutor %></td>
      </tr>
      <tr>
        <td class="td-label">DAP/CAF</td>
        <td class="td-content"><%= produtor.caf %></td>
      </tr>
      <tr>
        <td class="td-label">Nº da visita</td>
        <td class="td-content"><%= numeroRelatorio%></td>
      </tr>
      <tr>
        <td class="td-label">Município</td>
        <td class="td-content"><%= municipio %></td>
      </tr>
      <tr>
        <td class="td-label">
          Extensionista<%= outrosExtensionistas ? ' 1' : '' %>
        </td>
        <td class="td-content">
          <div class="extensionista">
            <span class="nomeExtensionista"> <%= nomeTecnico %> </span>
            <span class="matricula">
              <strong>Matrícula: </strong> <%= matricula %>
            </span>
          </div>
        </td>
      </tr>

      <% if (outrosExtensionistas) { %> <%
      outrosExtensionistas.forEach((extensionista, i) => { %>
      <tr>
        <td class="td-label">Extensionista <%=i+2%></td>
        <td class="td-content">
          <div class="extensionista">
            <span class="nomeExtensionista">
              <%= extensionista.nome_usuario %>
            </span>
            <span class="matricula">
              <strong>Matrícula: </strong> <%= extensionista.matricula_usuario
              %>
            </span>
          </div>
        </td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</section>
<section class="textBox">
  <h5 class="subtitle">Assunto Técnico Tratado no Atendimento</h5>
  <p><%= assunto %></p>
</section>
<section class="textBox avoid-break">
  <h5 class="subtitle">Orientação Técnica</h5>
  <div class="orientacaoBox"><%- orientacao %></div>
</section>

<section class="textBox avoid-break">
  <h5 class="subtitle">Assinatura do Produtor</h5>
  <div class="assinaturaContainer">
    <div class="imageContainer">
      <img
        id="assinaturaPlaceholder"
        src="<%= assinaturaBase64Image %>"
        class="assinatura"
        alt="Assinatura do beneficiário"
      />
    </div>
    <div class="assinaturaText">
      <hr />
      <p>Agricultor(a) Beneficiado(a) ou Membro da Unidade Familiar *</p>
      <p>Data: <%= data %></p>
    </div>
    <div class="assinaturaInfo">
      <p>
        * Como forma de comprovação da ATER realizada, utilizaremos imagem do
        beneficiário, o qual declara estar ciente e de acordo.
      </p>
      <p>
        ** O(s) técnico(s) que realizou a visita foi devidamente logado(s) no
        sistema por login e senha, sendo dispensada sua assinatura.
      </p>
    </div>
  </div>
</section>
<section class="textBox avoid-break">
  <h5 class="subtitle">Foto da Visita</h5>
  <div class="imageContainer">
    <img
      id="imagePlaceholder"
      src="<%= pictureBase64Image %>"
      alt=""
      class="foto"
    />
  </div>
</section>
