<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório Manual PNAE - Emater/MG</title>
    <%- include('../styles/globalStyles'); %> <%- include('../styles/headerStyles'); %>
    <%- include('../styles/relatorioStyles'); %>
  </head>

  <body>
    <main class="container">
      <% if (perfil) { %>
        <%- include('perfil', {perfil, gruposProdutosNatura, gruposProdutosIndustriais, produtor })%>
      <% } else { %>
        <section class="table">
          <table class="relatorioTable avoid-break">
            <thead>
              <th colspan="2" class="title relatorioTable">Relatório Manual</th>
            </thead>
            <tbody>
              <tr>
                <td class="td-label">Agricultor(a) Familiar</td>
                <td class="td-content"><%= produtor.nomeProdutor %></td>
              </tr>
              <tr>
                <td class="td-label">CPF/CNPJ</td>
                <td class="td-content"><%= produtor.cpf %></td>
              </tr>
              <tr>
                <td class="td-label">DAP/CAF</td>
                <td class="td-content"><%= produtor.caf || '' %></td>
              </tr>
              <tr>
                <td class="td-label">Atendimento</td>
                <td class="td-content"><%= atendimento.atendimentoId %></td>
              </tr>
              <tr>
                <td class="td-label">Data</td>
                <td class="td-content"><%= atendimento.data || '' %></td>
              </tr>
              <tr>
                <td class="td-label">Unidade</td>
                <td class="td-content"><%= atendimento.id_und_empresa || '' %></td>
              </tr>
              <% if (nome_propriedade) { %>
              <tr>
                <td class="td-label">Propriedade</td>
                <td class="td-content"><%= nome_propriedade %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      <% } %>

      <% if (!possuiArquivos) { %>
        <section class="textBox avoid-break">
          <h5 class="subtitle">Arquivos do relatório manual</h5>
          <p>Nenhum arquivo foi encontrado para este atendimento.</p>
        </section>
      <% } %>
    </main>
  </body>
</html>
