<head>
  <%- include('./styles/perfilStyles'); %>
</head>
<main>
  <section>
    <table>
      <thead>
        <th colspan="2" class="title">Perfil de Entrada</th>
      </thead>
      <tbody>
        <tr>
          <td class="td-perfil-label">Produtor</td>
          <td class="td-content"><%= produtor.nomeProdutor %></td>
        </tr>
        <% perfil.perfilData.forEach(function({label, value}){ %>
        <tr>
          <td class="td-perfil-label"><%= label %></td>
          <td class="td-content"><%= value %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <% if(perfil.producaoNatura) { %>
  <section class="table">
    <table>
      <thead>
        <th colspan="2" class="subtitle td-perfil-subtitle">Dados de produção in Natura</th>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" class="td-produtos-container">
            <%- include('produtos', {grupoProdutos: gruposProdutosNatura, type:'inNatura' }) %>
          </td>
        </tr>
        <% perfil.producaoNatura.forEach(function({label, value}){ %>
        <tr>
          <td class="td-perfil-label"><%= label %></td>
          <td class="td-content"><%= value %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
  <br />
  <% } %> <% if(perfil.producaoIndustrial) { %>
  <section class="table">
    <table>
      <thead>
        <th colspan="2" class="subtitle td-perfil-subtitle">Dados de produção Industrial</th>
      </thead>
      <tbody>
        <tr>
          <td colspan="2" class="td-produtos-container">
            <%- include('produtos', {grupoProdutos: gruposProdutosIndustriais, type:'industrial' })
            %>
          </td>
        </tr>
        <% perfil.producaoIndustrial.forEach(function({label, value}){ %>
        <tr>
          <td class="td-perfil-label"><%= label %></td>
          <td class="td-content"><%= value %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
  <% } %>
  <br />
</main>
