<!DOCTYPE html>
<html>
  <head>
    <title>Relatório PNAE - Emater/MG</title>
    <!-- <link href="styles.css" rel="stylesheet" /> -->
    <%- include('./perfilStyles'); %>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        align-self: center;
        align-items: center;
      }

      main {
        max-width: 1200px;
      }

      header {
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-bottom: 1px solid #ddd;
      }

      .ematerLogo {
        flex: 1;
        margin-right: 15px;
        width: 50%;
        height: 50%;
        max-width: 300px;
        max-height: 300px;
      }

      h4 {
        flex: 7;
        align-self: center;
        line-height: 16px;
      }

      .table {
        width: 100%;
        margin-top: -10px;
      }

      .table table {
        width: 100%;
        border: 1px solid #eee;
        border-collapse: collapse;
      }

      .table table tr th,
      .table table tr td {
        padding: 10px;
        border: 1px solid #eee;
        border-collapse: collapse;
      }

      .td-title {
        text-align: center;
        width: 100%;
        font-size: 10pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        background-color: #efe;
        /* line-height: 0.8rem; */
      }

      .td-label {
        font-weight: bold;
        text-align: left;
        width: 30%;
      }
      .td-content {
        text-align: left;
      }

      .extensionista {
        display: flex;
      }
      .nomeExtensionista {
        flex: 2;
        text-align: left;
      }
      .matricula {
        flex: 1;
        margin-right: 10px;
      }

      .textBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px 0;
        width: 100%;
        border: 1px solid #999;
      }

      .textBox > h5 {
        padding: 5px 0;
        margin: 0;
        font-size: 12px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid #999;
        box-sizing: border-box;
      }
      .textBox > p {
        margin: 0;
        width: auto;
        padding: 10px;
      }

      .orientacaoBox {
        padding: 15px;
      }

      .assinaturaContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .assinaturaContainer hr {
        margin-top: 0;
        width: 80%;
      }

      .assinatura {
        flex: 0.5;
        max-width: 400px;
        max-height: 180px;
        margin: 0;
        margin-bottom: -15px;
      }

      .assinaturaText {
        min-width: 600px;
        text-align: center;
      }

      .assinaturaInfo {
        align-self: flex-start;
        font-size: 10px;
        margin-left: 5px;
      }

      .imageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .textBox:nth-of-type(3) {
        break-inside: avoid;
      }

      .textBox:nth-of-type(4) {
        break-inside: avoid;
      }

      .foto {
        max-width: 500px;
        max-height: 500px;
        min-height: 300px;
        margin: 12px;
      }

      footer {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #999;
        margin-top: 5px;
      }

      footer .footerTextContainer {
        display: flex;
        padding-right: 20px;
        justify-content: space-between;
      }

      .assinaturaFooter {
        width: 50px;
        height: 50px;
      }
    </style>
  </head>

  <body>
    <main class="container">
      <%-include('perfil', perfil)%>
      <div class="table">
        <table>
          <thead>
            <th colspan="2" class="td-title">Relatório da Visita Técnica</th>
          </thead>
          <tbody>
            <tr>
              <td class="td-label">Agricultor(a) Familiar:</td>
              <td class="td-content"><%= produtor.nomeProdutor %></td>
            </tr>
            <tr>
              <td class="td-label">CPF/CNPJ:</td>
              <td class="td-content"><%= produtor.cpfProdutor %></td>
            </tr>
            <tr>
              <td class="td-label">DAP/CAF</td>
              <td class="td-content"><%= produtor.caf %></td>
            </tr>
            <tr>
              <td class="td-label">Nº da visita:</td>
              <td class="td-content"><%= numeroRelatorio%></td>
            </tr>
            <tr>
              <td class="td-label">Município:</td>
              <td class="td-content">municipio</td>
            </tr>
            <tr>
              <td class="td-label">Extensionista 1:</td>
              <td class="td-content">
                <div class="extensionista">
                  <span class="nomeExtensionista"> <%= nomeTecnico %> </span>
                  <span class="matricula"> <strong>Matrícula: </strong> <%= matricula %> </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <section class="textBox">
        <h5>Assunto Técnico tratado no atendimento</h5>
        <p><%= assunto %></p>
      </section>
      <section class="textBox">
        <h5>Orientação Técnica</h5>
        <div class="orientacaoBox"><%- orientacao %></div>
      </section>

      <section class="textBox">
        <h5>Assinatura do Produtor</h5>
        <div class="assinaturaContainer">
          <img
            id="assinaturaPlaceholder"
            src="<%= assinaturaBase64Image %>"
            class="assinatura"
            alt="Assinatura do beneficiário"
          />
          <div class="assinaturaText">
            <hr />
            <p>Agricultor(a) Beneficiado(a) ou Membro da Unidade Familiar *</p>
            <p>Data: <%= data %></p>
          </div>
          <div class="assinaturaInfo">
            <p>
              * Como forma de comprovação da ATER realizada, utilizaremos imagem do beneficiário, o
              qual declara estar ciente e de acordo.
            </p>
            <p>
              ** O(s) técnico(s) que realizou a visita foi devidamente logado(s) no sistema por
              login e senha, sendo dispensada sua assinatura.
            </p>
          </div>
        </div>
      </section>
      <section class="textBox">
        <h5>Foto da visita</h5>
        <div class="imageContainer">
          <img id="imagePlaceholder" src="<%= pictureBase64Image %>" alt="" class="foto" />
        </div>
      </section>
    </main>
  </body>
</html>
